body {

	background: #348F50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a {
	height: 132px;
	color: #fff !important;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.padding-25 {
	padding: 25px;
}
